.Market {
	background-color: #202930;
	color: #9aa3ad;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	padding: 3rem 30.5rem 3rem 8rem;
}

.Market-h1 {
	font-size: 2.5rem;
	line-height: 0.8;
	letter-spacing: .1px;
	font-weight: 300;
	margin: 0;
}

#Market-title {
	padding-bottom: 2rem;
}

#Market-chart {
	padding-bottom: 2rem;
}

#Market-buysell {
	padding-bottom: 2rem;
}

#Market-activity-pane {
	padding-bottom: 2rem;
}

#Market-orderlists {
}

.Market-headers {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2rem;
	padding: 0.25rem;
}

.Market-tab-pane {
	padding: 0 !important;
	border: 0 !important;
}

.red {
	color: red;
}

.green {
	color: green;
}

.ui.tabular.menu {
	border: 0px !important;
}

.ui.tabular.menu .item {
	color: white;
	background: #152128;
}

.ui.tabular.menu .item:hover {
	color: white;
	background: #111a21;
}

.ui.tabular.menu .active.item {
	background: #0b1215;
	color: white;
	border: 0;
	border-radius: 0 !important;
}