#Infobar {
	background-color: #152128;
	color: #9aa3ad;
	width: 27.5rem;
	min-height: 100vh;
	height: 100%;
	padding: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.Infobar-header {
	padding: 2rem 0rem;
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 1rem;
}

.Infobar-item {
	padding: 2rem;
}

.Infobar-table-entry {
	color: #9aa3ad !important;
}

#Infobar-table-header {
	background-color: #0b1215;
}

.ui.basic.striped.table tbody tr:nth-child(2n) {
	background-color: #111a21eb !important;
}

#Infobar-table {
	margin-top: 0px !important;
}

#Infobar-x {
	cursor: pointer;
	float: right;
	padding-right: 1rem;
	font-size: 1.5rem;
}

#Infobar {
	background-color: #152128;
	color: #9aa3ad;
	width: 27.5rem;
	min-height: 100vh;
	height: 100%;
	padding: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
	#Infobar {
		height: 100vh;
		width: calc(100vw - 5rem);
		overflow-y: auto;
	}

	.Infobar-header {
		padding: 1.75rem 0rem;
		width: 100%;
		text-align: center;
		font-weight: 600;
		font-size: 1.2rem;
	}

	.Infobar-table-entry {
		font-size: 1rem;
	}
}