.BuySell {
	background-color: #152128;
	width: 100%;
	padding: 1.5rem;
}

.BuySell-headers {
	font-size: 1.15rem;
	font-weight: 600;
	line-height: 2rem;
}

.BuySell-button {
	margin-right: 1rem !important;
}

.BuySell-mini-buttons {
	font-size: 0.5em;
	width: 100%;
	padding: 0rem 0rem 0.5rem 0rem;
}

.BuySell-amount-input {
	padding: 0rem 0rem 0.5rem 0rem;
}

.BuySell-color {
	font-weight: 600;
	font-size: 1.15rem;
}