.MarketHistory {
	background-color: #152128;
	width: 100%;
	height: 500px;
	overflow-y: auto;
}

.MarketHistory-headers {
	font-size: 1.15rem;
	font-weight: 600;
	line-height: 2rem;
}

.MarketHistory-button {
	margin-right: 1rem !important;
}

.MarketHistory-table-entry {
	color: #9aa3ad !important;
	white-space: nowrap;
}

.MarketHistory-table-header {
	color: #9aa3ad !important;
	background-color: #0b1216 !important;
	font-size: 1.2rem;
}

#MarketHistory-empty {
	color: #9aa3ad !important;
	opacity: 0.5;
	font-size: 1.15rem;
	font-weight: 600;
	text-align: center;
	width: 100%;
	height: 100px;
	padding-top: 25px;
}

.MarketHistory-type {
	font-weight: 1000;
}

.MarketHistory-arrow {
	max-width: 30%;
	padding: 0rem 0.5rem;
	float: left;
}

.MarketHistory-maker {
	max-width: 30%;
	float: left;
	margin: auto 0;
}

.MarketHistory-taker {
	max-width: 30%;
	float: left;
	margin: auto 0;
}

.ui.table thead tr:first-child > th {
     position: sticky !important;
     top: 0;
     z-index: 2;
}

.MarketHistory-infinite-list {
	outline: none;
}

#MarketHistory-table-header {
	width: 100%;
	background-color: #0b1216;
	height: 50px;
	margin: 0 !important;
	font-size: 1.2rem;
	font-weight: 600;
}

.MarketHistory-table-entry {
	width: 100%;
}

@media (max-width: 768px) {
	.MarketHistory-arrow {
		padding: 0rem 0.25rem;
	}
}