.MarketOrder {
	background-color: #152128;
	width: 100%;
	padding: 1.5rem;
	min-height: 600px;
}

.MarketOrder-headers {
	font-size: 1.15rem;
	font-weight: 600;
	line-height: 2rem;
}

.MarketOrder-button {
	margin-right: 1rem !important;
}

.MarketOrder-mini-buttons {
	font-size: 0.5em;
	width: 100%;
	padding: 0rem 0rem 0.5rem 0rem;
}

.MarketOrder-amount-input {
	padding: 0rem 0rem 0.5rem 0rem;
}

.MarketOrder-color {
	font-weight: 600;
	font-size: 1.15rem;
}

.MarketOrder-main-header {
	font-size: 2rem;
	font-weight: 600;
	line-height: 2rem;
/*	padding-bottom: 2.85rem;*/	
	padding-top: 0.35rem;
}

.MarketOrder-sub-header {
	font-size: 1rem;
	font-weight: 600;
}

.MarketOrder-slippage-input {
	width: 50px;
	padding: 0px 5px;
}

.MarketOrder-small-note {
	font-size: 0.95rem;
	padding-bottom: 1.7rem;
	padding-top: 0.75rem;
	float: right;
}

.MarketOrder-tiny-note {
	font-size: 0.7rem;
}

.MarketOrder-pane {
	padding: 0.3rem 0rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}