.CandleChart {
	background-color: #040404;
	width: 100%;
	height: 500px;
	overflow-y: auto;
	touch-action: none;
}

#CandleChart-loading {
	background-color: #040404;
	color: #9aa3ad;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 25%;
	font-size: 2rem;
	font-weight: 600;
}
