#Navbar {
	background-color: #0b1216;
	width: 5rem;
	height: 100vh;
	padding: 0;
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
}

#Navbar-mobile {
	background-color: #0b1216;
	height: 5rem;
	padding: 0;
	margin: 0;
}

.Navbar-button-mobile {
	height: 100%;
	color: white;
	background-color: #152128;
	display: flex;
	align-items: center;
}

#Navbar-logo-mobile {
	width: 5rem;
}

#Navbar-logo-container {
	background-color: white;
}

.Navbar-item {
	padding: 0 !important;
	text-align: center;
}

.Navbar-dropdown {
	color: white !important;
}

.Navbar-icon {
	width: 100%;
}

.Navbar-button {
	padding: 0.5rem !important;
	width: 100%;
	height: 5rem;
	color: white;
	background-color: #152128;
	display: flex;
	align-items: center;
}

#Navbar-Side_info_bar {
	width: calc(100% - 5rem);
}